{% load static %}
<!-- Scripts de sidebar -->
<script src="{% static 'js/sidebar.js' %}"></script>

<!-- Scripts de sweet Alert para alertas personalizadas -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- CDN de Tailwind como respaldo -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- Chart.js para gráficos -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Configuracion de paleta de colores en Tailwind -->
<script src="{% static 'js/paleta_colores.js' %}"></script>

<!-- Messages -->
<script src="{% static 'js/message.js' %}"></script>

<!-- Loading Component -->
<script src="{% static 'js/loading.js' %}"></script>

<!-- Modal de eliminacion para cualquier template -->
<script src="{% static 'js/delete.js' %}"></script>

<!-- Carnet Module JavaScript -->
<script src="{% static 'js/carnet.js' %}"></script>

<!-- Chatbase Script -->
<script>
    window.chatbaseConfig = {
        chatbotId: "uE4U8bl-COYnGV7r6rzx2",
        // Configuración avanzada para el chatbot
        customStyles: {
            // Personalizar el aspecto del chatbot
            primaryColor: "#0C71C3",  // Color principal del chatbot
            fontSize: "16px",         // Tamaño de fuente
            chatWindowHeight: "600px", // Altura de la ventana del chat
            buttonText: "Asistente Virtual" // Texto del botón
        },
        // Posición del botón de chat
        buttonStyle: "round", // Estilo del botón: "round" o "square"
        buttonPositionDesktop: "right", // Posición en escritorio
        buttonPositionMobile: "right", // Posición en móvil
    }
</script>
<script src="https://www.chatbase.co/embed.min.js" id="uE4U8bl-COYnGV7r6rzx2" defer></script>

<!-- Script para la identificación de usuarios en el chatbot -->
{% if user.is_authenticated %}
<script src="{% static 'js/chatbot.js' %}"></script>
{% endif %}